AnchorPane
{
    -fx-background-color: linear-gradient(to bottom right, greenyellow 20%, magenta 50%, red 100%);
}

Label
{
    -fx-text-fill: black;
    -fx-font-family: "Britannic Bold";
    -fx-font-size: 25px;
}

Button {
    -fx-background-radius: 5px;
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-insets: 0;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10,0,0,1 );
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-padding: 10px 20px;
}

Button:hover {
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-border-color: darkblue;
}

Button:pressed
{
    -fx-background-color: white;
    -fx-blend-mode: darken;
    -fx-text-fill: black;
}

.default
{
    -fx-blend-mode: darken;
}

ImageView
{
    -fx-blend-mode: darken;
    -fx-fit-to-width: 64px;
    -fx-fit-to-height: 64px;
}

ImageView:hover
{
    -fx-blend-mode: red;
}

ImageView:pressed
{
    -fx-blend-mode: blue;
}

TextField
{
    -fx-pref-height: 46px;
    -fx-pref-width: 150px;
    -fx-text-fill: black;
    -fx-background-radius: 5px;
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-background-insets: 0;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10,0,0,1 );
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
}

ChoiceBox
{
    -fx-pref-height: 46px;
    -fx-pref-width: 150px;
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-insets: 0;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10,0,0,1 );
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
}

ChoiceBox:hover
{
    -fx-background-color: blue;
    -fx-text-fill: white;
    -fx-border-color: darkblue;
}

ChoiceBox:pressed
{
    -fx-background-color: white;
    -fx-blend-mode: darken;
    -fx-text-fill: black;
}

TableView
{
    -fx-pref-height: 225px;
    -fx-pref-width: 500px;
    -fx-text-fill: black;
    -fx-background-radius: 5px;
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-background-insets: 0;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 10,0,0,1 );
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
}
